* {
  transition-timing-function: cubic-bezier(1.25, 1.25, 1.25, 1.25);
transition-duration: .25s;
}

body {
  background-image: url(clouds2.jpg);
  background-size: cover;
  top: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  margin: 10px 0 15px 0;
  color: #60d9f1;
  font-weight: bold;
  font-size: 15px;
}

.headerText {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  margin-top: 9vh;
  margin-bottom: 86vh;
  z-index: 7;
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

h1 {
  z-index: 5;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 7vw;
}

.noise {
  font-family: serif;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #60d9f1;
  color: white;
  font-size: 5.5vw;
}

h1 div{
  z-index: 5;
  margin-right: 10px;
  color: black;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #60d9f1;
  font-size: 10vw;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.box img {
  z-index: 4;
  border-color: #60d9f1;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  box-shadow: black;
}

button {
  transition-duration: .1s;
    background-color: transparent;
    color: transparent;
    border: none;
    outline:none;
}

button:hover {
  margin: 1.5vw;
  text-shadow: 0 0 3px cyan;
  filter: brightness(220%);
  text-shadow: 0px 2px 8px 8px, white;
  font-family: sans-serif;
  color: #60d9f1;
}

.title {
  font-family: sans-serif;
  margin: 10px 0 15px 0;
  color: #60d9f1;
  font-weight: bold;
  font-size: 15px;
}



.box {
  margin: 18px 25px 18px 25px;
  width: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#header {
  z-index: -5;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.headerImageBox {
  width: 89vw;
  z-index: -5;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 95vw;

}

.headerimage1 {
  border-color: none;
  border-style: none;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  z-index: -5;
  background: linear-gradient(to bottom, rgba(96,217,241,1) 0%,rgba(125,185,232,0) 100%), url(weezer.jpg);
  background-size: cover;
  width: 21.75vw;
  height: 40vw;
  min-height: 250px;
  max-height: 400px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.headerimage2 {
  border-color: none;
  border-style: none;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(96,217,241,1) 0%,rgba(125,185,232,0) 100%), url(fifty.jpg);
  background-size: cover;
  z-index: -2;
  width: 21.75vw;
  height: 40vw;
  min-height: 250px;
  max-height: 400px;
}

.headerimage3 {
  border-color: none;
  border-style: none;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(96,217,241,1) 0%,rgba(125,185,232,0) 100%), url(nirvana.jpg);
  background-size: cover;
  z-index: -2;
  width: 21.75vw;
  height: 40vw;
  min-height: 250px;
  max-height: 400px;
}

.headerimage4 {
  border-color: none;
  border-style: none;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(96,217,241,1) 0%,rgba(125,185,232,0) 100%), url(rascal.jpg);
  background-size: cover;
  z-index: -2;
  width: 21.75vw;
  height: 40vw;
  min-height: 250px;
  max-height: 400px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#trackInput {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  width: 75vw;
  height: 25px;
  margin-bottom: 8px;
}

#submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #454f51;
	background-image: linear-gradient(#a5f0ff, #454f51);
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  color: white;
  width: 100px;
  height: 33px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#submitButton:hover {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
transition-duration: .1s;
  margin-top: .2vw;
  margin-left: .2vw;
  color: #60d9f1;
  width: 105px;
  height: 37px;
}

#bands {
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  justify-content: center;
  align-items: flex-start;
}


.musicPlayer {
  margin-top: 8px;
  width: 89vw;
  height: 25px;
}

.searchedFor {
  margin-top: 8px;
  font-size: 15px;
  color: #60d9f1;
  font-family: sans-serif;
  font-weight: bold;
}

.searchWords {
  font-size: 12px;
  font-weight: bold;
}


@media screen and (min-width: 0px) and (max-width: 420px) {

  .searchedFor {
    margin-top: 8px;
    font-size: 15px;
    color: black;
    font-family: sans-serif;
  }

  .box img {
    z-index: 4;
    border-color: #60d9f1;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    width: 85vw;
    height: 85vw;
    box-shadow: black;
}

.headerText{
  margin-top: 1vw;
}
  .headerSubText{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 20vw;
  }
.headerSubText span {
  margin-top: -5vw;
}
.headerimage4 {
  display: none;
}

.headerimage2 {
  display: none;
}

.headerimage3 {
  display: none;
}

.headerimage1 {
  width: 90vw;
  height: 40vw;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

}
