* {
  transition-timing-function: cubic-bezier(1.25, 1.25, 1.25, 1.25);
transition-duration: .25s;
}

html {
  font-size: 10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

  
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.box img {
  z-index: 4;
  border-color: #010202;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  box-shadow: black;
}

button {

}

button:hover {

}

.title {
  font-family: sans-serif;
  margin: 10px 0 15px 0;
  color: #2e261b;
  font-weight: bold;
  font-size: 15px;
}

.box {
  margin: 18px 25px 18px 25px;
  width: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}


.searchedFor{
  width: 90vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}




.search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#trackInput {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  width: 75vw;
  height: 25px;
  margin-bottom: 8px;
}

#submitButton {

}

#submitButton:hover {

}

#bands {
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  justify-content: center;
  align-items: flex-start;
}


.musicPlayer {
  margin-top: 8px;
  margin: auto;
  width: 89vw;
  height: 25px;
}

.searchedFor {
  margin-top: 8px;
  font-size: 15px;
  color: #030607;
  font-family: sans-serif;
  font-weight: bold;
}

.searchWords {
  font-size: 12px;
  font-weight: bold;
}




  


  
.keys1 {
  display: flex;
  flex: 1;
  
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

  
.keys {
  display: flex;
  flex: 1;
  margin-left: 20px;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}




@media screen and (min-width: 0px) and (max-width: 420px) {

  .searchedFor {
    margin-top: 8px;
    font-size: 15px;
    color: black;
    font-family: sans-serif;
  }



